@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000614;
  --foreground: #ffffff;
  --eagleHighlight: rgba(0, 246, 255, 0.87);
  --pryLinearGradient: linear-gradient(115deg, #1870f6 62.27%, #32fefe 95.1%);
}

.textGradientNeonBlue {
  background: var(
    --gradient-neon-blue,
    linear-gradient(132deg, #0207f7 0%, #14ffff 68.66%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scrollbar */

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #32fefe;
}

*::-webkit-scrollbar-thumb {
  background: #1870f6;
}

*::-webkit-scrollbar-thumb:hover {
  background: #1870f6;
}
